@model List<ST10140587_CLDV6212_POE.Models.Transaction>

<h2>Transactions</h2>

<table class="table">
    <thead>
        <tr>
            <th>Transaction ID</th>
            <th>Customer Name</th>
            <th>Product Name</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model)

        {
            <tr>
                <td>@transaction.Customer_Name</td>
                <td>@transaction.Product_Name</td>
                <td>@transaction.Transaction_Date</td>

            </tr>
        }
    </tbody>
</table>
